body {
    background-color: #28282B;
    font-family: 'Bebas Neue', sans-serif;
        color: white;
}
.spacing {
    letter-spacing: 5px;
}
.con {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: end;
    line-height: normal;
}

.pg-cover {
    margin: 30px;

}
.pg { 
    width: 800px;
    font-size: 30px;
}
.quote-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.quote {
    width: 500px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.yellow {
    color: yellow;
}
.con-2 {
    justify-content: center;
    
    display: flex;
    flex-direction: column;
}
.con-3 {
    display: flex;
    justify-content: center;
}
.emoji {
    width: 500px;
}

.txt {
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
}


.contact {
    color: gray;
}

.txt-2 {
    text-align: center;
}
.rust-ad {
    text-align: center;
    color: gold;
    font-size: 25px;
}

.qm {
    border-radius: 5px;
    width: 435px;
    height: 250px;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;


}

.book {
    color: lightgreen;
    font-size: 30px;
    text-decoration: none;
}

.book:hover {
    color: blue;
    text-decoration: underline;
}
.acc-lib {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lib {
    width: 800px;
}
@media only screen and (max-width : 420px) {
    .qm {
        width: 330px;
        height: 190px;
    }



    
}

@media only screen and (max-width : 830px) {
    .pg {
        width: 600px;
    }
    .lib {
        width: 600px;
    }

    
}

@media only screen and (max-width : 630px) {
    .pg {
        width: 500px;
    }

    .lib {
        width: 500px;
    }
}
@media only screen and (max-width : 520px) {
    .lib {
        width: 350px;
    }
    .pg {
        width: 350px;
    }
    .txt {
        font-size: 30px;
    }

    .rust-ad {
        font-size: 18px;
    }

    .emoji {
        width: 350px;
    }
    .quote {
        width: 250px;
    }
}

.caution {
    color: red;
    font-size: 30px;
}